.colorPri{color: #1564fb !important;}
.colorBlue{color: #1564fb !important;}
.colorBlue3{color: #2bc1f9 !important;}
.colorBlue4{color: #5f9dff !important;}
.colorBlue5{color: #0066ff !important;}
.colorBlue6{color: #008aff !important;}
.colorMin{color: #32abdf !important;}
.colorYel{color: #fdff34 !important;}
.colorYel2{color: #fffc00 !important;}
.colorGry-1{color: #333 !important;}
.colorGry{color: #666 !important;}
.colorGry2{color: #999 !important;}
.colorGry3{color: #404040 !important;}
.colorGry4{color: #c6c6c6 !important;}
.colorGry5{color: #bbbbbb !important;}
.colorGry6{color: #78889e !important;}
.colorRed{color: #ff0000 !important;}
.colorOrg{color: #ff6600 !important;}
.ccolorBlue{color: #2479ff !important;}
.ccolorOrg{color: #ff6000 !important;}
.colorBlack{color: #000 !important;}
.colorWhite{color: #fff !important;}
.colorLightNavy{color: #97a2b5 !important;}
.PAY_COLOR{color: #1564fb !important;}
.PAY_BOLD{font-weight: bold !important;}
.PAY_LIST{font-weight: bold !important; color: #1564fb !important;}
.INDENT0{text-indent: 0;}
.FONT11{font-size: 11px !important;}
.FONT12{font-size: 12px !important;}
.FONT13{font-size: 13px !important;}
.FONT14{font-size: 14px !important;}
.FONT15{font-size: 15px !important;}
.FONT16{font-size: 16px !important;}
.FONT17{font-size: 17px !important;}
.FONT18{font-size: 18px !important;}
.FONT20{font-size: 20px !important;}
.FONT21{font-size: 21px !important;}
.FONT22{font-size: 22px !important;}
.FONT24{font-size: 24px !important;}
.FONT26{font-size: 26px !important;}
.FONT28{font-size: 28px !important;}
.FONT30{font-size: 30px !important;}
.FONT40{font-size: 40px !important;}
.MT00{margin-top: 0px !important;}
.MT05{margin-top: 05px !important;}
.MT10{margin-top: 10px !important;}
.MT15{margin-top: 15px !important;}
.MT20{margin-top: 20px !important;}
.MT25{margin-top: 25px !important;}
.MT30{margin-top: 30px !important;}
.MT35{margin-top: 35px !important;}
.MT40{margin-top: 40px !important;}
.MT45{margin-top: 45px !important;}
.MT50{margin-top: 50px !important;}
.MT55{margin-top: 55px !important;}
.MT60{margin-top: 60px !important;}
.MT65{margin-top: 65px !important;}
.MT70{margin-top: 70px !important;}
.MT75{margin-top: 75px !important;}
.MT80{margin-top: 80px !important;}
.MT85{margin-top: 85px !important;}
.MT90{margin-top: 90px !important;}
.MT95{margin-top: 95px !important;}
.MB05{margin-bottom: 05px !important;}
.MB10{margin-bottom: 10px !important;}
.MB15{margin-bottom: 15px !important;}
.MB20{margin-bottom: 20px !important;}
.MB25{margin-bottom: 25px !important;}
.MB30{margin-bottom: 30px !important;}
.MB35{margin-bottom: 35px !important;}
.MB40{margin-bottom: 40px !important;}
.MB45{margin-bottom: 45px !important;}
.MB50{margin-bottom: 50px !important;}
.MB55{margin-bottom: 55px !important;}
.MB60{margin-bottom: 60px !important;}
.MB65{margin-bottom: 65px !important;}
.MB70{margin-bottom: 70px !important;}
.MB75{margin-bottom: 75px !important;}
.MB80{margin-bottom: 80px !important;}
.MB85{margin-bottom: 85px !important;}
.MB90{margin-bottom: 90px !important;}
.MB95{margin-bottom: 95px !important;}
.MR05{margin-right: 05px !important;}
.MR10{margin-right: 10px !important;}
.MR15{margin-right: 15px !important;}
.MR20{margin-right: 20px !important;}
.MR25{margin-right: 25px !important;}
.MR30{margin-right: 30px !important;}
.MR35{margin-right: 35px !important;}
.MR40{margin-right: 40px !important;}
.MR45{margin-right: 45px !important;}
.MR50{margin-right: 50px !important;}
.MR55{margin-right: 55px !important;}
.MR60{margin-right: 60px !important;}
.MR65{margin-right: 65px !important;}
.MR70{margin-right: 70px !important;}
.MR75{margin-right: 75px !important;}
.MR80{margin-right: 80px !important;}
.MR85{margin-right: 85px !important;}
.MR90{margin-right: 90px !important;}
.MR95{margin-right: 95px !important;}
.ML05{margin-left: 05px !important;}
.ML10{margin-left: 10px !important;}
.ML15{margin-left: 15px !important;}
.ML20{margin-left: 20px !important;}
.ML25{margin-left: 25px !important;}
.ML30{margin-left: 30px !important;}
.ML35{margin-left: 35px !important;}
.ML40{margin-left: 40px !important;}
.ML45{margin-left: 45px !important;}
.ML50{margin-left: 50px !important;}
.ML55{margin-left: 55px !important;}
.ML60{margin-left: 60px !important;}
.ML65{margin-left: 65px !important;}
.ML70{margin-left: 70px !important;}
.ML75{margin-left: 75px !important;}
.ML80{margin-left: 80px !important;}
.ML85{margin-left: 85px !important;}
.ML90{margin-left: 90px !important;}
.ML95{margin-left: 95px !important;}
@media only screen and (max-width: 1300px){
    .MML00{margin-left: 0px;}
    .MMT00{margin-top: 0px;}
    .MMT05{margin-top: 05px;}
    .MMT10{margin-top: 10px;}
    .MMT15{margin-top: 15px;}
    .MMT20{margin-top: 20px;}
    .MMT25{margin-top: 25px;}
    .MMT30{margin-top: 30px;}
    .MMT35{margin-top: 35px;}
    .MMT40{margin-top: 40px;}
    .MMT45{margin-top: 45px;}
    .MMT50{margin-top: 50px;}
    .MMT55{margin-top: 55px;}
    .MMT60{margin-top: 60px;}
    .MMT65{margin-top: 65px;}
    .MMT70{margin-top: 70px;}
    .MMT75{margin-top: 75px;}
    .MMT80{margin-top: 80px;}
    .MMT85{margin-top: 85px;}
    .MMT90{margin-top: 90px;}
    .MMT95{margin-top: 95px;}
    .MMB05{margin-bottom: 05px;}
    .MMB10{margin-bottom: 10px;}
    .MMB15{margin-bottom: 15px;}
    .MMB20{margin-bottom: 20px;}
    .MMB25{margin-bottom: 25px;}
    .MMB30{margin-bottom: 30px;}
    .MMB35{margin-bottom: 35px;}
    .MMB40{margin-bottom: 40px;}
    .MMB45{margin-bottom: 45px;}
    .MMB50{margin-bottom: 50px;}
    .MMB55{margin-bottom: 55px;}
    .MMB60{margin-bottom: 60px;}
    .MMB65{margin-bottom: 65px;}
    .MMB70{margin-bottom: 70px;}
    .MMB75{margin-bottom: 75px;}
    .MMB80{margin-bottom: 80px;}
    .MMB85{margin-bottom: 85px;}
    .MMB90{margin-bottom: 90px;}
    .MMB95{margin-bottom: 95px;}
    .MMR05{margin-right: 05px;}
    .MMR10{margin-right: 10px;}
    .MMR15{margin-right: 15px;}
    .MMR20{margin-right: 20px;}
    .MMR25{margin-right: 25px;}
    .MMR30{margin-right: 30px;}
    .MMR35{margin-right: 35px;}
    .MMR40{margin-right: 40px;}
    .MMR45{margin-right: 45px;}
    .MMR50{margin-right: 50px;}
    .MMR55{margin-right: 55px;}
    .MMR60{margin-right: 60px;}
    .MMR65{margin-right: 65px;}
    .MMR70{margin-right: 70px;}
    .MMR75{margin-right: 75px;}
    .MMR80{margin-right: 80px;}
    .MMR85{margin-right: 85px;}
    .MMR90{margin-right: 90px;}
    .MMR95{margin-right: 95px;}
    .MML05{margin-left: 05px;}
    .MML10{margin-left: 10px;}
    .MML15{margin-left: 15px;}
    .MML20{margin-left: 20px;}
    .MML25{margin-left: 25px;}
    .MML30{margin-left: 30px;}
    .MML35{margin-left: 35px;}
    .MML40{margin-left: 40px;}
    .MML45{margin-left: 45px;}
    .MML50{margin-left: 50px;}
    .MML55{margin-left: 55px;}
    .MML60{margin-left: 60px;}
    .MML65{margin-left: 65px;}
    .MML70{margin-left: 70px;}
    .MML75{margin-left: 75px;}
    .MML80{margin-left: 80px;}
    .MML85{margin-left: 85px;}
    .MML90{margin-left: 90px;}
    .MML95{margin-left: 95px;}
}
.MINWIDTH000{min-width: 0 !important;}
.MINWIDTH055{min-width: 55px !important;}
.MINWIDTH060{min-width: 60px !important;}
.MINWIDTH075{min-width: 75px !important;}
.MINWIDTH100{min-width: 100px !important;}
.MINWIDTH110{min-width: 110px !important;}
.MINWIDTH120{min-width: 120px !important;}
.MINWIDTH130{min-width: 130px !important;}
.MINWIDTH140{min-width: 140px !important;}
.MINWIDTH150{min-width: 150px !important;}
.MINWIDTH160{min-width: 160px !important;}
.MINWIDTH170{min-width: 170px !important;}
.MINWIDTH180{min-width: 180px !important;}
.MINWIDTH200{min-width: 200px !important;}
.MINWIDTH220{min-width: 220px !important;}
.MINWIDTH250{min-width: 250px !important;}
.MINWIDTH280{min-width: 280px !important;}
.MINWIDTH300{min-width: 300px !important;}
.MINWIDTH350{min-width: 350px !important;}
.MINWIDTH400{min-width: 400px !important;}
.MINWIDTH430{min-width: 430px !important;}
.MINWIDTH480{min-width: 480px !important;}
.MINWIDTH500{min-width: 500px !important;}
.MINWIDTH600{min-width: 600px !important;}
.MINWIDTH700{min-width: 700px !important;}
.MINWIDTH800{min-width: 800px !important;}
.MINWIDTH900{min-width: 900px !important;}
.MAXWIDTH100{max-width: 100px !important;}
.MAXWIDTH200{max-width: 200px !important;}
.MAXWIDTH300{max-width: 300px !important;}
.MAXWIDTH400{max-width: 400px !important;}
.MAXWIDTH500{max-width: 500px !important;}
.MAXWIDTH600{max-width: 600px !important;}
.MAXWIDTH700{max-width: 700px !important;}
.MAXWIDTH800{max-width: 800px !important;}
.MAXWIDTH900{max-width: 900px !important;}
.WIDTH000{width: 0 !important;}
.WIDTH055{width: 55px !important;}
.WIDTH060{width: 60px !important;}
.WIDTH075{width: 75px !important;}
.WIDTH100{width: 100px !important;}
.WIDTH110{width: 110px !important;}
.WIDTH120{width: 120px !important;}
.WIDTH130{width: 130px !important;}
.WIDTH140{width: 140px !important;}
.WIDTH150{width: 150px !important;}
.WIDTH160{width: 160px !important;}
.WIDTH170{width: 170px !important;}
.WIDTH180{width: 180px !important;}
.WIDTH200{width: 200px !important;}
.WIDTH220{width: 220px !important;}
.WIDTH250{width: 250px !important;}
.WIDTH280{width: 280px !important;}
.WIDTH300{width: 300px !important;}
.WIDTH350{width: 350px !important;}
.WIDTH400{width: 400px !important;}
.WIDTH480{width: 480px !important;}
.WIDTH500{width: 500px !important;}
.WIDTH600{width: 600px !important;}
.WIDTH700{width: 700px !important;}
.WIDTH800{width: 800px !important;}
.WIDTH900{width: 900px !important;}
.LINEHEIGHT10{line-height: 1.0 !important;}
.LINEHEIGHT11{line-height: 1.1 !important;}
.LINEHEIGHT12{line-height: 1.2 !important;}
.LINEHEIGHT13{line-height: 1.3 !important;}
.LINEHEIGHT14{line-height: 1.4 !important;}
.LINEHEIGHT15{line-height: 1.5 !important;}
.LINEHEIGHT16{line-height: 1.6 !important;}
.LINEHEIGHT17{line-height: 1.7 !important;}
.LINEHEIGHT18{line-height: 1.8 !important;}
.LINEHEIGHT19{line-height: 1.9 !important;}
.LINEHEIGHT20{line-height: 2 !important;}
.LETTERSPACING45{letter-spacing: -.63px !important;}
.dotum{font-family: 'dotum' !important;}
.MALGUN{font-family: 'Malgun Gothic',-apple-system-font, "Apple SD Gothic Neo", sans-serif !important;}
.NOTO{font-family: 'Noto Sans KR',-apple-system-font, "Apple SD Gothic Neo", sans-serif !important;}
.JALNAN{font-family: 'yg-jalnan',-apple-system-font, "Apple SD Gothic Neo", sans-serif !important;}
.TAHOMA{font-family: 'Tahoma',-apple-system-font, "Apple SD Gothic Neo", sans-serif !important;}
.TXTL{text-align: left !important;}
.TXTR{text-align: right !important;}
.TXTC{text-align: center !important;}
.FWB{font-weight: 700 !important;}
.SFWB{font-weight: 800 !important;}
.NOWRAP{white-space: nowrap;}
.FWN{font-weight: normal !important;}
.VTOP{vertical-align: top !important;}
.VMIDDLE{vertical-align: middle !important;}
.VBOTTOM{vertical-align: bottom !important;}
.INLINE_BLOCK{display: inline-block !important;}
.BLOCK{display: block !important;}
.UNDERLINE{text-decoration: underline !important;}
.HOVER_UNDERLINE:hover{text-decoration: underline !important;}
.HOVER_FWB:hover{font-weight: 700 !important;}
.RELATIVE{position: relative !important;}
.FLOATL{float: left;}
.FLOATR{float: right;}
.clearfix:after,.clearfix:before{content: ' '; display: table;}
.clearfix:after{clear: both;}
.hidetxt{position: absolute; width: 1px; height: 1px; overflow: hidden; line-height: 0; font-size: 0;}
.HIDDEN{position: absolute; left: -999em; top: -999em; width: 0; height: 0; overflow: hidden; visibility: hidden; position: absolute;}
.FLEX{display: flex;}
.ALIGN_ITEM_CENTER{align-items: center;}
.JUSTIFY_ITEM_CENTER{justify-items: center;}
.NOWRAP{white-space: nowrap;}